legend {
  font-weight: 700;
}

label {
  margin-left: 0.5rem;

  font-size: 1.25rem;
}

.sidebar {
  padding: 15px 30px 30px;

  color: $color-light;
  @media (min-width: 992px) {
    border-right: 1px solid $color-light;
    background-color: rgba($color-light, 0.3);
  }
  @media (max-width: 991px) {
    border-top: 1px solid $color-light;
  }

  &-options {
    display: block;

    margin-bottom: 30px;

    color: $color-light;

    font-size: 1.25rem;
  }

  &-btn {
    border-color: $color-light;
    border-radius: 0;
    background-color: $color-dark;
  }
}

.form {
  &-group {
    margin-bottom: 1rem;
  }

  &-check {
    margin: 10px 0;

    &-input {
      width: 0;
      height: 0;

      &::before {
        display: block;

        width: 0.8rem;
        height: 0.8rem;
        margin-top: 0.35rem;

        content: "";

        border: 1px solid $color-light;
      }

      &:checked::before {
        background-color: $color-light;
      }
    }
  }
}


