footer {
  height: 100px;

  opacity: 0.8;
  background-color: $color-light;

  span {
    display: block;

    padding-top: 40px;

    text-align: center;

    color: $color-dark;

    font-size: 1.25rem;
  }
}
