.header-menu {
  white-space: nowrap;

  background-color: rgba($color-light, 0.8);

  font-size: 1.2rem;
  @media (min-width: 992px) {
    .dropdown-menu {
      margin-top: -0.1px;
      margin-left: -1.5px;

      border-radius: 0;
      background-color: $color-dark;

      a {
        color: $color-light;

        &:hover {
          color: $color-dark;
        }
      }
    }
    .dropdown.show .dropdown-toggle {
      color: #ffffff;
      border-bottom: 1px solid $color-light;
      background: $color-dark;
    }
  }

  &__search {
    display: inline-block;
    height: 50px;

    border: 1px solid $color-dark;
    flex-wrap: nowrap;

    @media (max-width: 991px) {
      display: inline-flex;
      width: calc(100% - 100px);
    }

    button {
      margin: 5px;
      padding: 0;

      transition: background-color 0.5s;

      color: $color-light;
      border-color: $color-dark;
      border-radius: 0;
      background-color: $color-dark;


      &:focus,
      &:hover {
        color: $color-dark;
        border-color: $color-dark;
        background-color: $color-light;
      }

      i {
        display: block;

        padding: 10px;
      }
    }

    .form-control {
      display: inline-block;
      width: 10rem;

      border: none;
      background-color: transparent;

      font-size: 1.2rem;
      white-space: nowrap;

      &:focus {
        box-shadow: none;
      }

      @media (min-width: 992px) {
        width: 10rem !important;
      }
      @media (max-width: 991px) {
        flex-grow: 2;
      }
    }
  }

  &__cart {
    position: relative;

    order: 2;

    width: 50px;
    height: 50px;
    margin-left: 30px;

    color: $color-dark;
    border: none;
    border-radius: 0;
    background-color: $color-light;
    @media (max-width: 991px) {
      margin-top: -7px !important;
    }

    &:hover {
      color: $color-light;
      border-color: $color-dark;
      background-color: $color-dark;
    }

    .fas {
      font-size: 1.5rem;
    }
  }
}

.header-carousel {
  border-bottom: 1px solid $color-light;
  background-color: rgba(0, 0, 0, 0.3);
  @media (max-width: 767px) {
    h5 {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .nav-item {
    border-left: 1px solid $color-dark;

    &:last-child {
      border-right: 1px solid $color-dark;
    }
  }
}

.navbar-nav {
  @media (min-width: 992px) {
    width: calc(100% - 300px);
    padding-right: 30px;
    padding-left: 70px;
    > .nav-item {
      flex-grow: 1;

      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .header-menu__btn {
    margin-top: 5px !important;
  }
}

