.navbar {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.navbar .navbar-nav .nav-item .nav-link {
  white-space: nowrap;
  color: #2c71b6;
  font-size: 1.2rem;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar .navbar-nav .active > .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-toggler:hover {
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0 1.3px #e59700, 0 0 0 2px #ffffff !important;
          box-shadow: 0 0 0 1.3px #e59700, 0 0 0 2px #ffffff !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #ffffff;
}

.header-menu {
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.header-menu__search {
  display: block;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 50px;
  border: 1px solid #2c71b6;
}

.header-menu__search button {
  margin: 5px;
  padding: 0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: #ffffff;
  border-color: #2c71b6;
  border-radius: 0;
  background-color: #2c71b6;
}

.header-menu__search button:focus, .header-menu__search button:hover {
  color: #2c71b6;
  border-color: #2c71b6;
  background-color: #ffffff;
}

.header-menu__search button i {
  display: block;
  padding: 10px;
}

.header-menu__search .form-control {
  display: inline-block;
  width: 10rem;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
}

.header-menu__search .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-menu__cart {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  color: #2c71b6;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
}

.header-menu__cart:hover {
  color: #ffffff;
  border-color: #2c71b6;
  background-color: #2c71b6;
}

.header-menu__cart:hover div {
  color: #2c71b6;
  background-color: #ffffff;
}

.header-menu__cart .fas {
  font-size: 1.5rem;
}

.header-menu__cart div {
  position: absolute;
  top: -11px;
  left: -11px;
  display: none;
  width: 25px;
  height: 25px;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  text-align: center;
  color: #ffffff;
  border-radius: 11px;
  background-color: #2c71b6;
  -webkit-box-shadow: 0 0 10px rgba(44, 113, 182, 0.5);
          box-shadow: 0 0 10px rgba(44, 113, 182, 0.5);
}

.header-menu__cart div.show {
  display: block;
}

.header-carousel {
  border-bottom: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  background-image: url("../img/patt.png");
  background-position: 50% 0;
  line-height: 1.5;
}

h5 {
  font-size: 1.75rem;
}

.breadcrumb {
  padding: 1rem 0 0 0;
  opacity: 0.5;
  background-color: transparent;
  font-size: 0.875rem;
}

.main-title {
  color: #ffffff;
  font-size: 2.85rem;
}

.main-filter {
  width: 100%;
  height: calc(1.5em + 0.9rem + 2px);
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  background-color: #2c71b6;
}

.main-breadcrumb, .main-breadcrumb__link {
  color: #ffffff !important;
}

.main-content {
  margin-top: 30px;
}

.wrapper {
  margin-bottom: 30px;
  border: 1px solid #ffffff;
}

.content-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 180px;
  opacity: 0.75;
  background-color: #ffffff;
}

.content-title {
  padding-top: 0.75rem;
  color: #ffffff;
  font-size: 1.75rem;
}

.content-description {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.content-specifications {
  margin-top: 15px;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.content-specifications span {
  display: block;
  margin-top: 7px;
}

.content-price {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.content-load {
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}

.content-load a {
  color: #ffffff;
}

.content-load a:hover {
  color: #ffffff;
}

.btn-vertical {
  position: absolute;
  top: 6px;
  right: 21px;
}

.btn-img {
  display: block;
  width: 30px !important;
  height: 30px;
  padding: 0;
  color: #2c71b6;
  border-color: #2c71b6;
  border-radius: 0;
}

.btn-img:first-child {
  margin-bottom: 5px !important;
}

.btn-img:hover {
  background-color: #2c71b6;
}

.btn-content {
  display: block;
  padding: 15px 15px 0 15px;
}

.btn-content__cart {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-content__cart.disabled, .btn-content__cart:disabled, .btn-content__cart:active {
  opacity: 1;
  color: #ffffff !important;
  border-color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.btn-content__details, .btn-content__cart {
  margin-bottom: 30px !important;
  padding: 8px 5px 10px;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.62rem;
}

.btn-content__details:hover, .btn-content__cart:hover {
  color: #2c71b6;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-content__details i, .btn-content__cart i {
  margin-left: 5px;
}

legend {
  font-weight: 700;
}

label {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.sidebar {
  padding: 15px 30px 30px;
  color: #ffffff;
}

.sidebar-options {
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 1.25rem;
}

.sidebar-btn {
  border-color: #ffffff;
  border-radius: 0;
  background-color: #2c71b6;
}

.form-group {
  margin-bottom: 1rem;
}

.form-check {
  margin: 10px 0;
}

.form-check-input {
  width: 0;
  height: 0;
}

.form-check-input::before {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.35rem;
  content: "";
  border: 1px solid #ffffff;
}

.form-check-input:checked::before {
  background-color: #ffffff;
}

footer {
  opacity: 0.8;
  background-color: #ffffff;
}

footer .copyright {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #2c71b6;
  font-size: 1.25rem;
}

@media (min-width: 991px) {
  .header-menu__btn {
    margin-top: 5px !important;
  }
}

@media (min-width: 992px) {
  .header-menu .dropdown-menu {
    margin-top: -0.1px;
    margin-left: -1.5px;
    border-radius: 0;
    background-color: #2c71b6;
  }
  .header-menu .dropdown-menu a {
    color: #ffffff;
  }
  .header-menu .dropdown-menu a:hover {
    color: #2c71b6;
  }
  .header-menu .dropdown.show .dropdown-toggle {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    background: #2c71b6;
  }
  .header-menu__search .form-control {
    width: 10rem !important;
  }
  .nav-item {
    border-left: 1px solid #2c71b6;
  }
  .nav-item:last-child {
    border-right: 1px solid #2c71b6;
  }
  .navbar-nav {
    width: calc(100% - 300px);
    padding-right: 30px;
    padding-left: 70px;
  }
  .navbar-nav > .nav-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
  .sidebar {
    border-right: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 1199px) {
  .btn-content__details, .btn-content__cart {
    font-size: 0.9rem;
  }
}

@media (max-width: 991px) {
  .header-menu__search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: calc(100% - 100px);
  }
  .header-menu__search .form-control {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .header-menu__cart {
    margin-top: -7px !important;
  }
  .sidebar {
    border-top: 1px solid #ffffff;
  }
}

@media (max-width: 767px) {
  .header-carousel h5 {
    display: none;
  }
}

@media (max-width: 575px) {
  .header-menu__btn {
    margin-top: 5px !important;
  }
}
